@charset "utf-8";

/*
  Talespinnerz Story Page CSS
  June 5, 2021

*/

html {
   background-color: #fff;
}

img {
   padding: 5px;
   width: 70%;
   height: 70%
   }

h1 {
   color: #140fdb;
   font-family: Arial, Helvetica, sans-serif, "sans-serif";
   font-style: italic;
   font-size: 36px;
   text-align: center;
}

h2 {
   color: #140fdb;
   font-family: Arial, Helvetica, sans-serif, "sans-serif";
   text-align: left;
}

h3 {
   color: #000;
   font-family: Arial, Helvetica, sans-serif, "sans-serif";
   text-align: left;
}

h4 {
   color: #140fdb;
   font-family: Arial, Helvetica, sans-serif, "sans-serif";
   text-align: left;
}

.button1 {
   background-color: #140fdb;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   transition-duration: 0.4s;
}

.button1:hover {
   background-color: #ffffff;
   color: #140fdb;
   border: 5px solid #140fbd;
 }

 .button2 {
   background-color: #000000;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   transition-duration: 0.4s;
}

.button2:hover {
   background-color: #ffffff;
   color: #000;
   border: 5px solid #140fbd;
 }

footer {
   color: #140fdb;
   font-family: Arial, Helvetica, sans-serif, "sans-serif";
   font-size: 12px;
   font-style: bold;
   text-align: left;
 }
 
/*  Mobile styling - 0 to 640px */
@media only screen and (max-width: 640px) {

   
   body {
      margin: 0px;
   }
   
   img {
      width: 100%;
   }
   
   article h1 h2 h3 h4 {
      font-size: 1.6em;
   }
   
   footer section {
      font-size: 1.2em;
      width: 100%;
   }
 }
 
