@charset "utf-8";

/*
  Talespinnerz Countdown Demo  CSS
  June 3, 2021

*/

html {
   background-color: #fff;
}

img {
   padding: 5px;
   width: 70%;
   height: 70%
   }

h2 {
   color: #140fdb;
   font-family: Arial, Helvetica, sans-serif, "sans-serif";
   width: 400px;
   text-align: center;
}

div#clock {
   border: 5px solid black;
   border-radius: 10px;
   width: 400px;
}

div#seconds {
   font-size: 4em;
   height: 60px;
   color:#140fdb;
   font-family: Arial;
   text-shadow: 1px 1px 1px blue, 3px 3px 10px white;
   text-align: center;
   margin: 15px auto;
}

div#Waiting {
   font-size: 2em;
   color: #140fdb;
   font-family: Arial;
   text-shadow: 3px 3px 3px blue, 3px 3px 10px white;
   text-align: center;
   margin: 15px auto;
   letter-spacing: 0.25em;
   height: 80px;
}

div#Alert {
   font-size: 2em;
   color:#140fdb;
   font-family: Arial;
   text-shadow: 3px 3px 3px blue, 3px 3px 10px white;
   text-align: center;
   margin: 15px auto;
   letter-spacing: 0.25em;
   height: 80px;
}

/*  Mobile styling - 0 to 640px */
@media only screen and (max-width: 640px) {

   
   body {
      margin: 0px;
   }
   
   img {
      width: 100%;
   }
   
   article h1 h2 h3 h4 {
      font-size: 1.6em;
   }
   
   footer section {
      font-size: 1.2em;
      width: 100%;
   }
 }
 